openapi: '3.0.2'
info:
  title: E-Municipal API
  version: '0.1.0'
servers:
  - url: https://e-municipal.com/api/v0.1
paths:
  /users/{user}:
    parameters:
      - in: path
        name: user
        schema:
          type: string
        required: true
        description: User identifier
    get:
      description: Get user profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /issues:
    description: Get user issues
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:  
                  $ref: '#/components/schemas/Issue'
    post:
      description: Create an user issue
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Issue'
      responses:
        '201':
          description: Created
  /issues/{issue}:
    parameters:
      - in: path
        name: issue
        schema:
          type: string
        required: true
        description: issue identifier
    get:
      description: Get user issue
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
    put:
      description: Update existing issue metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Issue'
      responses:
        '200':
          description: Updated

components:
  schemas:
    User:
        type: object
        title: E-municipal user
        description: E-municipal user model
        default: {}
        required:
          - username
          - email
          - birthday
          - gender
          - account_creation
          - last_activity
          - municipal_area_ref
          - issues_count
          - preferrend_topic_refs
        additionalProperties: true
        properties:
          username:
            type: string
            title: Username
            description: Username for the user
          email:
            type: string
            title: E-mail
            description: User e-mail
          account_creation:
            type: string
            title: Account creation date
            description: Acconut creation date
          birthday:
            type: string
            title: Birthday date
            description: Birthday date
          gender:
            type: string
            enum:
              - female
              - male
            title: Gender
            description: Gender
          last_activity:
            type: string
            title: Last activity date
            description: Last activity date
          municipal_area_ref:
            type: string
            title: Municipal area reference
            description: User municipal area reference
          issues_count:
            type: number
            title: User issues number
            description: Number of issues opened by the user
          preferred_topic_refs:
            type: array
            title: User preferred topics
            description: User preferred topic
            items:
              type: string

    Issue:
        type: object
        title: E-municipal issue
        description: E-municipal issue model
        default: {}
        required:
          - id
          - title
          - description
          - creation_date
          - attachment_refs
          - last_update_date
          - author_ref
          - municipal_area_ref
          - topic_refs
          - state
        additionalProperties: true
        properties:
          name:
            type: string
            title: Issue unique identifier
            description: Topic name
          title:
            type: string
            title: Issue title
            description: Issue title
          description:
            type: string
            title: Issue description
            description: Issue description
          creation_date:
            type: string
            title: Issue creation date
            description: Issue creation date
          last_update_date:
            type: string
            title: Issue last update date
            description: Issue last update date
          attachment_refs:
            type: array
            title: Issue attachments
            description: Issue media attachments
            items:
              type: string
          author_ref:
            type: string
            title: Issue author
            description: Issue user author reference
          municipal_area_ref:
            type: string
            title: Municipal area related to the issue
            description: Issue municipal area reference
          topic_refs:
            type: array
            title: Topics rapresenting the issue
            description: Issue municipal area reference
            items: {}
          state:
            type: string
            enum:
              - created
              - accepted
              - in_process
              - idle
              - closed
            title: Issue state
            description: Current state assumed by the issue
