openapi: '3.0.2'
info:
  title: E-Municipal API
  version: '0.1.0'
servers:
  - url: https://e-municipal.com/api/v0.1
paths:
  /users/{user}:
    parameters:
      - in: path
        name: user
        schema:
          type: string
        required: true
        description: User identifier
    get:
      description: Get user profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '../../data-model/schemas/user'
  /events:
    description: Get user events
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:  
                  $ref: '../../data-model/schemas/event'
    post:
      description: Create an user event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '../../data-model/schemas/event'
      responses:
        '201':
          description: Created
  /events/{event}:
    parameters:
      - in: path
        name: event
        schema:
          type: string
        required: true
        description: event identifier
    get:
      description: Get user event
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '../../data-model/schemas/event'
    put:
      description: Update existing event metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '../../data-model/schemas/event'
      responses:
        '200':
          description: Updated